.page-id-9251 div#sidebar {
    display:none;
}

.page-id-9251 div#content {
    width:100%;
    margin-top: -21px;
    font-family: 'Open Sans', sans-serif;
}

.page-id-9251 #content h1 {
    display: none;
}

#bac_thank_you {
    margin-top: 40px;
}

.bac_hero_image {
    margin: 0 -500px 30px;
    background-color: #202020;
    text-align: center;
}

.bac_details {
    font-size: 16px;
}

p.entry_form_title {
    margin-top: 20px !important;
    font-size: 22px;
    line-height: 30px;
}

#bac_select_laser {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
}
.bacontest-field-group {
    margin: 10px 0;
}
.bacontest-field-group label {
    width: 250px;
}
.bacontest-field-group input {
    color: grey !important;
    display: inline-block !important;
    width: 320px;
}

.treatment-group label {
    width: 100%;
}
.treatment-group input {
    display: block !important;
}

ol.lower-alpha-list {
    list-style-type: lower-alpha;
}

.bacontest-official-rules-section, .entry-criteria-section {
    height: 80%;
    width: 100%;
    border: 1px solid grey;
    overflow: auto;
    padding: 10px;
}

.contest-rules-header {
    font-weight: bold;
    text-align: center;
}

.official-rules {
    text-align: center;
    text-decoration: underline;
}

.eligibility-list {
    margin-left: 15px;
}

.accept-official-rules input[type="checkbox"], .entry-criteria-section input[type="checkbox"]{
    padding: 7px;
    margin: 10px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

.entry-criteria-group {
    margin-bottom: 20px;
}
.entry-criteria-group p {
    margin-bottom: 0;
}

.custom-file-upload-btn {
    background-color: #ef8200;
    border-radius: 7px;
    color: white;
    padding: 7px 20px;
    text-align: center;
    width: 210px;
}

.bac_image_preview {
    margin-bottom: 20px;
}
/* SculpSure Contest Entry */
#ss_before_image, #ss_after_image, #icon_before_image, #icon_after_image {
    display: none !important;
}

/* Icon Contest Entry */
.icon-skin-condotion {
    font-weight: bold;
}

#ss_contest_entry, #icon_contest_entry {
    display: none;
}

#overlay {
    display: none;
    background-color:#fff;
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    opacity: 0.5;
    z-index:10000;
}

@media (max-width: 980px) {
    .bac_hero_image {
        margin: 0 -10px 30px;
    }
}
@media (max-width: 960px) {
    .wizard > .steps > ul > li {
        width: 100% !important;
    }
}

@media (max-width: 680px) {
    .wizard > .content {
        overflow: scroll !important;
    }
}
